<div class="mx-auto md:w-2/3 w-full">
  <%= render @reflection %>

  <div class="inline-block ml-2">
    <%= link_to t('reflections.show.edit'), edit_reflection_path(@reflection), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t('reflections.show.back'), reflections_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <div class="inline-block ml-2">
      <%= button_to t('reflections.show.destroy'), @reflection, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium", data: { turbo_confirm: t('common.confirm_destroy') } %>
    </div>
  </div>
</div>
