<%# locals: (items: Array<MandalaItem>, is_subgrid: boolean) %>
<div class="grid grid-cols-3 grid-rows-3 gap-1 h-full w-full bg-gray-300">
  <% (0..8).each do |position| %>
    <% item = items.find { |i| i.position == position } %>
    <div class="bg-white overflow-hidden relative <%= 'bg-indigo-50' if item&.is_center? && !is_subgrid %>">
      <% if item %>
        <%= render 'mandala_items/mandala_item', mandala_item: item, is_subgrid: is_subgrid %>
      <% else %>
         <div class="h-full flex items-center justify-center text-red-500 text-xs"><%= t('annual_themes.chart.error') %></div>
      <% end %>
    </div>
  <% end %>
</div>
